body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

section {
    padding: 90px 0;
    text-align: center;
}

#home {
    position: relative;
}

.slider-slides img {
    width: 100%;
    float: left;
    opacity: 0.3;
}

.slider-slides {
    /* width: 300%; */
}

.slider-inner {
    overflow: hidden;
    background-color: black;
}

.caption {
    position: relative;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.caption h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    margin: 20px 0 30px;
    font-weight: 700;
}

h1 span {
    color: #028fcc;
}

.caption p {
    font-size: 18px;
    margin: 0 0 10px;
    color: white;
    text-align: center;
}

input[type="button"] {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
    margin-top: 40px;
    background: none;
}

input[type="button"]:hover {
    background-color: #028fcc;
    border-color: #028fcc;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: #028fcc;
    height: 80px;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 8px 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav a:hover {
    cursor: pointer;
    color: #b7b7b7;
    background-color: rgba(0,0,0,.2);
}

#service {
    height: 986px;
} 

h1 {
    color: #333;
    margin: 20px 0;
    font-size: 30px;
    font-weight: 500;
}

p {
    margin: 0 auto 90px;
    width: 750px;
}

#about {
    height: 428px;
    background-image: url(../images/about-bg.jpg);
    padding: 60px 0;
}

#portfolio {
    height: 989px;
}

.gallery {
    height: 588px;
    background-color: #666;
}

#team {
    height: 838px;
}

#price {
    height: 762px;
}

#contact {
    height: 864px;
}

footer {
    height: 170px;
    padding: 30px 0;
    background-color: #028fcc;
}



