body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

section {
    padding: 90px 10%;
    text-align: center;
}

#home {
    position: relative;
    padding: 0;
}

.slider-slides img {
    width: 100%;
    float: left;
    opacity: 0.3;
}

.slider-slides {
    /* width: 300%; */
}

.slider-inner {
    overflow: hidden;
    background-color: black;
}

.caption {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

.caption h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    margin: 20px 0 30px;
    font-weight: 700;
}

h1 span {
    color: #028fcc;
}

.caption p {
    font-size: 18px;
    margin: 0 0 10px;
    color: white;
    text-align: center;
}

input[type="button"] {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
    margin-top: 40px;
    background: none;
}

input[type="button"]:hover {
    background-color: #028fcc;
    border-color: #028fcc;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: #028fcc;
    height: 80px;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
}

.logo {
    padding-bottom: 5px;
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 30px 15px;
}

nav a:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.2);
}

h1 {
    color: #333;
    margin: 20px 0;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
}

p {
    margin: 0 0 90px;
}

.service-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.idea-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    border-right: 1px solid #f2f2f2;
}

.idea-card:nth-child(4),
.idea-card:nth-child(5),
.idea-card:nth-child(6) {
    padding-top: 60px;
    border-top: 1px solid #f2f2f2;;
}

.idea-card:nth-child(3),
.idea-card:nth-child(6) {
    border-right: none;
}

.idea-card p {
    margin: 0 0 50px;
    padding: 0 15px;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 35px 0 10px;
    color: #333;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    width: 90px;
    background-color: rgb(2, 143, 204);
    border-radius: 4px;
    color: rgb(255, 255, 255);
}

.icon:hover {
    background-color: #333;
}

.fab {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 36px;
    text-align: center;
    font-style: normal;
    vertical-align: middle;
}

#about {
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    padding: 60px 10%;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    color: #fff;
    width: 50%;
    text-align: left;
    padding: 0 15px;
}

.info h1 {
    color: #fff;
    margin-top: 0;
}

.info p {
    margin-bottom: 0;
}

.scales {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    text-align: left;
    padding: 0 15px;
}

.scale {
    width: 100%;
    background-color: #fff;
    margin-bottom: 25px;
}

.blue-scale {
    width: 95%;
    text-align: right;
    background-color: #028fcc;
}

.blue-scale span {
    padding-right: 12px;
    color: #fff;
}

.scales h2 {
    color: #fff;
    margin-top: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
}

.scale-2 .blue-scale {
    width: 75%;
}

.scale-3 .blue-scale {
    width: 60%;
}

.scale-4 .blue-scale {
    width: 85%;
}

#portfolio {
    padding: 90px 0;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 588px;
    width: 100%;
    background-color: #666;
}

.gallery-item {
    width: 25%;
}

.gallery img{
    width: 100%;
    height: 100%;
}

#team {
    height: 838px;
}

#price {
    height: 762px;
}

#contact {
    height: 864px;
}

footer {
    height: 170px;
    padding: 30px 0;
    background-color: #028fcc;
}



